* {
    padding: 0;
    margin: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: #F89448;
    color: white;
    font-family: "Inter";
    font-weight: bold;
    font-size: xx-large;
    padding: 30px;
}

input {
    padding: 10px;
}

.kanji-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    gap: 30px;
}

.kanji-card {
    display: flex;
    font-family: "Inter";
    min-width: 75%;
    max-width: 1050px;
    background-color: #F7F7F7;
    padding: 3%;
    gap: 3%;
}

.kanji-character {
    font-weight: bolder;
    font-size: 5em;
    flex: 1;
    padding-right: 10px;
}

.kanji-reading {
    display: flex;
    gap: 3%;
    flex: 1;
}

.on-kun {
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex: 1;
    min-width: 60%;
}

.onyomi, .kunyomi {
    font-weight: 750;
    font-size: 1.5em;
}

.examples-and-stroke {
    display: flex;
    flex: 3;
}

.examples {
    list-style-position: inside;
    line-height: 2em;
}

.strokes {
    padding-left: 15px;
    justify-self: flex-end;
    flex: 1;
}

.strokes-img {
    display: flex;
    flex-wrap: wrap;
    padding-top: 15px;
    gap: 15px;
}

.kanji-stroke {
    max-width: 2em;
}

.selector {
    margin-left: 1%;
    margin-top: 1%;
}