* {
    padding: 0;
    margin: 0;
    font-family: "Inter";
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: #F89448;
    color: white;
    font-weight: bold;
    font-size: xx-large;
    padding: 30px;
}

.header .logo-links {
    display: flex;
    gap: 10px;
    align-items: center;
}

.header a {
    font-size: medium;
    font-weight: 400;
    color: white;
}

.header .searchbar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

input {
    padding: 10px;
    box-sizing: border-box;
    height: 40px;
    border: none;
}

.searchfield {
    display: grid;
    grid-auto-flow: column;
    height: 40px;
}

.dropdown {
    display: flex;
    height: 40px;
}

.dropdown button {
    background-color: hsla(0, 0%, 100%, 0.726);
    padding: 10px;
    height: 40px;
    border: none;
    cursor: pointer;
    box-sizing: border-box;
}

.dropdown p {
    padding: 10px;
}

.dropdown .content {
    display: none;
    position: absolute;
    top: 70%; /* incredibly janky way to make sure that content is below the search bar*/
    font-size: small;
    color: black;
    background-color: white;
    cursor: pointer;
}

.dropdown:hover .content {
    display: block;
}

.dropdown:hover button {
    background-color: hsla(0, 0%, 100%, 0.5);
}

.dropdown p:hover {
    background-color: hsl(0, 0%, 85%);
}

.search-icon {
    cursor: pointer;
}

.kanji-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    gap: 30px;
}

@media screen and (max-width: 650px) {
    .kanji-card {
        flex-direction: column;
    }

    .examples-and-stroke {
        flex-direction: column;
    }

    .header {
        flex-direction: column;
        gap: 10px;
    }

    .strokes {
        padding: 0;
    }
}

@media screen and (min-width: 651px) {
    .strokes {
        padding-left: 15px;
    }
}

.kanji-card {
    display: flex;
    min-width: 75%;
    max-width: 1050px;
    background-color: #F7F7F7;
    padding: 3%;
    gap: 3%;
}

.kanji-character {
    font-weight: bolder;
    font-size: 5em;
    flex: 1;
    padding-right: 10px;
}

.kanji-reading {
    display: flex;
    gap: 3%;
    flex: 1;
}

.on-kun {
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex: 1;
    min-width: 60%;
}

.onyomi, .kunyomi {
    font-weight: 750;
    font-size: 1.5em;
}

.examples-and-stroke {
    display: flex;
    flex: 3;
}

.examples {
    list-style-position: inside;
    line-height: 2em;
}

.strokes {
    justify-self: flex-end;
    flex: 1;
}

.strokes-img {
    display: flex;
    flex-wrap: wrap;
    padding-top: 15px;
    gap: 15px;
}

.kanji-stroke {
    max-width: 2em;
}

.lesson-number {
    display: flex;
    opacity: 50%;
}

.selector {
    margin: 1%;
}

/* no kanji found styling */
.not-found {
    display: flex;
    align-items: center;
    font-weight: bold;
    padding-left: 20%;
}

.not-found img {
    width: 50vw;
    max-width: 500px;
}

/* error page styling */
#error-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#error-page img {
    max-width: 30vw;
}

/* about page */
.about-body {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 3% 15%;
    list-style-position: inside;
}

.intro-section {
    display: flex;
    gap: 30px;
}

.intro-section .left-img {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    background-color: antiquewhite;
    border-radius: 50%;
    max-width: 400px;
}

.intro-section img {
    height: 400px;
}

.intro-section .text {
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex: 1;
}

.resources {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.resource {
    display: flex;
    gap: 20px;
}

.resource .description {
    display: flex;
    flex-direction: column;
}

.resource .img-wrapper {
    display: grid;
    position: relative;
}

.resource img {
    height: 100px;
    width: 300px;
    object-fit: cover;
    grid-row: 1;
    grid-column: 1;
}

.resource .img-background {
    grid-row: 1;
    grid-column: 1;
    position: absolute;
    background-color: #F89448;
    height: 100px;
    width: 300px;
    z-index: -1;
    top: 10px;
    left: 10px;
}