* {
    padding: 0;
    margin: 0;
    font-family: "Inter";
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: #F89448;
    color: white;
    font-weight: bold;
    font-size: xx-large;
    padding: 30px;
}

.header .searchbar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

input {
    padding: 10px;
    box-sizing: border-box;
    height: 40px;
    border: none;
}

.searchfield {
    display: grid;
    grid-auto-flow: column;
    height: 40px;
}

.dropdown {
    display: flex;
    height: 40px;
}

.dropdown button {
    background-color: hsla(0, 0%, 100%, 0.726);
    padding: 10px;
    height: 40px;
    border: none;
    cursor: pointer;
    box-sizing: border-box;
}

.dropdown p {
    padding: 10px;
}

.dropdown .content {
    display: none;
    position: absolute;
    top: 70%; /* incredibly janky way to make sure that content is below the search bar*/
    font-size: small;
    color: black;
    background-color: white;
    cursor: pointer;
}

.dropdown:hover .content {
    display: block;
}

.dropdown:hover button {
    background-color: hsla(0, 0%, 100%, 0.5);
}

.dropdown p:hover {
    background-color: hsl(0, 0%, 85%);
}

.search-icon {
    cursor: pointer;
}

.kanji-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    gap: 30px;
}

.kanji-card {
    display: flex;
    min-width: 75%;
    max-width: 1050px;
    background-color: #F7F7F7;
    padding: 3%;
    gap: 3%;
}

.kanji-character {
    font-weight: bolder;
    font-size: 5em;
    flex: 1;
    padding-right: 10px;
}

.kanji-reading {
    display: flex;
    gap: 3%;
    flex: 1;
}

.on-kun {
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex: 1;
    min-width: 60%;
}

.onyomi, .kunyomi {
    font-weight: 750;
    font-size: 1.5em;
}

.examples-and-stroke {
    display: flex;
    flex: 3;
}

.examples {
    list-style-position: inside;
    line-height: 2em;
}

.strokes {
    padding-left: 15px;
    justify-self: flex-end;
    flex: 1;
}

.strokes-img {
    display: flex;
    flex-wrap: wrap;
    padding-top: 15px;
    gap: 15px;
}

.kanji-stroke {
    max-width: 2em;
}

.lesson-number {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #45BB53;
    font-weight: bold;
    color: white;
    border-radius: 3em;
    width: 3em;
    height: 2em;
}

.selector {
    margin: 1%;
}